*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font-family: Geist, sans-serif;
}
body{
    padding: 30px;
    margin: 0;
    background-color: #0d0d0d;
}
.main-container{
width: 100%;
height: 100%;
display: flex;
justify-content: space-around;
}
.form-container{
    /* width: 350px; */
    width: 100%;
    max-width: 350px;
    height: auto;
    padding: 20px;
    background-color: #0d0d0d;
    display: inline-block;
}
.form-container h1{
    color: white;
    font-size: 1.5rem;
    font-family: arial;
    text-align: center;
}
.form-container input{
    width: 100%;
    height: 50px;
    margin-top: 28px;
    border: none;
    border-radius: 30px;
    background-color: rgb(252, 246, 246);
    font-size: 1.1rem;
    padding: 30px;
}
.forgot-password{
    color:  #aaba38;
    float: right;
    text-decoration: none;
    margin: 8px 0;
}
.forgot-password:hover{
    color: #526b2c;
}
.form-container h4{
    text-align: center;
    margin: 45px 0;
    color: white;
}
/* The facebook and google icon design goes here */
.font-icon{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
    margin-bottom: 25px;
}

.facebook-logo{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius:50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-right: 20px;
}
.facebook-logo svg{
    object-fit: contain;
    height: auto;
    padding: 3px;
}
.google-logo{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius:50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.google-logo svg{
    object-fit: contain;
    height: auto;
    padding: 3px;
}
/* stops here */

.continue-btn{
    width: 100%;
    height: 50px;
    font-size: 1.4rem;
    color: black;
    background-color:  #d8fe40;
    border: none;
    border-radius: 30px;
}
.continue-btn:hover{
background-color: #526b2c;    
}
.form-container h5{
    color:  #d8fe40;
    text-align: center;
    font-size: 1.2rem;
}
.form-container h5 a{
    text-decoration: none;
    color:  #d8fe40;
}
.form-container h5 a:hover{
    color: #526b2c;
}
.img-design{
width: 100%;
height: 100%;
}
/* .circle-design{
    width: 350px;
    height: 350px;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #cdc735;
    margin-top: 100px;
    box-shadow: 0 0 100px 60px #cdc735;
} */
.image-design img{
    height: 100%;
    border: none;
}


@media (max-width: 768px){
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    position: relative;
 }
.image-design{
    display: none;
 }
.form-container{
    position: relative;
    z-index: 1;
    background: rgb(255, 255, 255, 0.8.);
    background-image: url(images/Screenshot_20250811-104026\ \(1\).jpg);
    background-size: cover;
    background-position: center;
 }
}